html, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #fff;
  font-family: Calibri, sans-serif; }
  html #content, * #content {
    width: 100%;
    height: 80%;
    transform: translateY(0%);
    margin: auto; }
    html #content legend, * #content legend {
      height: 70px;
      padding: 0.5em;
      border-bottom: 1px solid #4f4a3c;
      background-color: white; }
      html #content legend h1, * #content legend h1 {
        text-align: center;
        color: #4f4a3c;
        font-size: 2em;
        font-weight: normal;
        margin: auto;
        background-color: white; }
      html #content legend img, * #content legend img {
        margin: auto;
        float: right;
        position: relative;
        margin-right: 3%; }
        html #content legend img:nth-child(1), * #content legend img:nth-child(1) {
          margin-right: 0; }
      html #content legend #back, * #content legend #back {
        background-image: url(../images/back.png);
        background-size: cover;
        background-position: center;
        height: 1.2em;
        width: 1.2em;
        cursor: pointer;
        float: left !important;
        argin: auto;
        float: right;
        position: relative;
        margin-right: 3%; }
        html #content legend #back:nth-child(1), * #content legend #back:nth-child(1) {
          margin-right: 0; }
        html #content legend #back:hover, * #content legend #back:hover {
          background-image: url(../images/backM.png); }
      html #content legend #logo, * #content legend #logo {
        height: 1.6em;
        padding-right: 10px;
        float: left !important; }

.visible {
  visibility: visible !important;
  opacity: 1 !important; }

.blur {
  -webkit-filter: blur(2px);
  filter: blur(2px); }

.popup {
  transition: visibility 0.3s, opacity 0.3s linear;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  margin: auto;
  border: 0.5px solid #4f4a3c;
  background-color: #4f4a3c;
  border-radius: 0px; }
  .popup #close {
    background-image: url(../images/close.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    right: 1em;
    top: 1em;
    height: 7%;
    cursor: pointer;
    font-size: 2em;
    background-color: #4f4a3c;
    height: 1.2em;
    width: 1.2em; }
    .popup #close:hover {
      background-image: url(../images/closeM.png); }
  .popup legend h1 {
    text-align: center;
    color: white;
    margin-top: 1em;
    font-size: 2em;
    font-weight: normal;
    background-color: #4f4a3c; }
  .popup .flex {
    background-color: #4f4a3c;
    width: 80%;
    height: 60%;
    margin-top: 20%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .popup .flex .input {
      height: 10%;
      width: 85%;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border: 1px solid #4f4a3c;
      padding-left: 5%;
      color: white; }
    .popup .flex .popup-label {
      height: 10%;
      width: 50%;
      text-align: center;
      display: flex;
      align-items: center;
      background-color: #4f4a3c;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom: white solid 1px;
      color: white;
      font-size: 1em; }
    .popup .flex .popup-icon {
      height: 50%;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      background: #4f4a3c;
      font-size: 1em;
      text-align: center !important; }
      .popup .flex .popup-icon img {
        height: 100%;
        text-align: center;
        margin-left: 45%; }
    .popup .flex .submit {
      flex: 0 1000%;
      height: 10%;
      color: white;
      background-color: #4f4a3c;
      border-radius: 0px;
      border: 1px solid white;
      cursor: pointer; }

#popup {
  visibility: hidden;
  opacity: 0; }

.kategories {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  height: 100%;
  display: flex;
  flex-wrap: wrap; }
  .kategories .images {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    border-right-width: 6px;
    border-right-color: #552f28;
    border-right-style: solid; }
  .kategories .kategorie {
    transition: 0.3s all ease-in;
    border-radius: 0px;
    cursor: pointer;
    width: 30%;
    margin: 1.5%;
    height: 20%;
    background-color: #4f4a3c;
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .kategories .kategorie:hover {
      -webkit-box-shadow: 0px 0px 27px -6px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 27px -6px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 27px -6px rgba(0, 0, 0, 0.75); }
      .kategories .kategorie:hover .kategorie-titel {
        color: #208676; }
    .kategories .kategorie label {
      cursor: inherit;
      width: 50%;
      background-color: inherit;
      overflow: hidden;
      text-align: center; }
      .kategories .kategorie label img {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        cursor: inherit;
        height: 100% !important;
        overflow: hidden;
        float: left; }
      .kategories .kategorie label .kategorie-titel {
        width: 100%;
        background-color: inherit;
        text-align: center;
        color: #fff; }
        .kategories .kategorie label .kategorie-titel:hover {
          color: #208676; }
  .kategories .product {
    transition: 0.3s all ease-in;
    border-radius: 0px;
    cursor: pointer;
    width: 30%;
    margin: 1.5%;
    height: 20%;
    background-color: #806954;
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .kategories .product:hover {
      -webkit-box-shadow: 0px 0px 27px -6px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 27px -6px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 27px -6px rgba(0, 0, 0, 0.75); }
      .kategories .product:hover .product-titel {
        color: #208676; }
    .kategories .product label {
      cursor: inherit;
      width: 50%;
      background-color: inherit;
      overflow: hidden;
      text-align: center; }
      .kategories .product label img {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        cursor: inherit;
        height: 100% !important;
        overflow: hidden;
        float: left;
        border-right-width: 6px;
        border-right-color: white;
        border-right-style: solid; }
      .kategories .product label .product-titel {
        width: 100%;
        background-color: inherit;
        text-align: center;
        color: #fff; }
        .kategories .product label .product-titel:hover {
          color: #208676; }

/*# sourceMappingURL=frontend.css.map */
